html, body {
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  overflow-x: hidden;
}

.background-gradient {
  background: transparent;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0);
  transition: all .2s;
  height: 80px;

  .navbar-collapse{
    transition: all .2s;
  }

  .navbar-collapse.show {
    transition: all .2s;
    padding: 15px 15px 0;
    border-radius: 15px;
    background: white;

    ul > li > a{
      color: rgba(0, 0, 0, 0.55);
    }
    ul > li > a.active{
      color: #8354ef;
    }

  }
}

.background-gradient.scrolled {
  background: #349ded;
  background: -webkit-gradient(linear, left top, right top, from(#349ded), color-stop(51%, #7176fd), to(#8453ef));
  background: linear-gradient(to right, #349ded 0%, #7176fd 51%, #8453ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ded', endColorstr='#8453ef', GradientType=1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
  transition: all .2s;
  height: 65px;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 25px;
}

.header-content {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding-top: 90px;

  & > img:first-child {
    object-fit: cover;
    left: -1px;
    top: -1px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .main-image {
    padding: 15px 0;
    width: 100%;
  }
}

.btn {
  border-radius: 50px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  padding: 10px 20px !important;
  text-transform: uppercase;
}

.navbar-toggler{
  color: rgba(255,255,255,1) !important;
  border-color: rgba(255,255,255,1) !important;
}

.navbar-brand {
  height: 65px;
  padding: 0 !important;
  display: flex;

  img {
    margin: 20px auto 0;
    height: 120%;
    border-bottom: 5px solid #359ded;
    border-left: 5px solid #359ded;
    border-right: 5px solid #359ded;
    border-radius: 15px;
    @media (max-width: 990px) {
      height: 80%;
      margin: 0 auto;
    }
  }
}

.background-gray{
  background: #e4ebf4;
}

footer{
  background: #e4ebf4;
  padding: 50px 0;
}


.scroll {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 65px;
}
.scroll::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

#section07 a {
  padding-top: 80px;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  font-weight: 700;
  margin-top: -10px;
  text-decoration: none;
  text-transform: uppercase;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.base-card-big{
  width: 50% !important;
  margin: 15px !important;
}

.base-card {
  background: rgb(228 235 244 / 55%);
  border-radius: 5px;
  border-top: 5px solid #8454ef;
  width: 350px;
  margin: 10px;
  padding: 15px;
  transition: all 0.2s;

  &:hover {
    transition: all .2s;
    transform: scale(1.05);
  }

  .offer-icon .badge {
    font-size: 17px;
    display: table;
    margin: 10px auto 25px;
    background-color: #8454ef !important;
  }
}

.wow {
  visibility: hidden;
}

.card-carousel-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 5px solid #359ded;
  margin: 15px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}