
section.offer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  h3 {
    width: 100%;
  }

  h4.offer-title {
    font-weight: 600;
    font-size: 22px;
    margin: 5px 5px 20px;
    color: #545d69;
    text-align: center;
  }
}
